.no-margin {
    margin: 0 !important;
}

.sushi-red {
    background-color: #e4553f !important;
}

a {
    /*color: #ED2257 !important;*/
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}